$sidebar-bg: #4e4e4e;
$sidebar-bg-active: #737373;
$sidebar-header-bg: #424242;
$sidebar-border: #616161;
$sidebar-color: #c0c0c0;

$counter-size: 50vh;
$counter-color: #e39100;

.center-content {
  height: 100%;
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-align-items: center;
}

.counter h1{
  color: $counter-color;
}

.counter-label {
  width: $counter-size;
  height: $counter-size;
  line-height: $counter-size;
  text-align: center;
  font-size: $counter-size / 3;
  color: $counter-color;
  margin: 0;
}

.counter-circle {
  border: 10px solid $counter-color;
  border-radius: 100%;
  z-index: 1;
}

.rotate-circle {
  display: block;
  position: absolute;
  height: $counter-size;
  width: $counter-size;
  z-index: -1;
  -webkit-animation: rotation 60s infinite linear;

  &:before {
    content: " ";
    background-color: white;
    width: 15vh;
    height: 25vh;
    position: absolute;
    display: block;
    margin-left: 30vh;
    margin-top: 0vh;
    -webkit-transform: rotate(45deg);
    z-index: -1;
  }
}

.counter-bottom-text {
  position: absolute;
  width: 100%;
  bottom: 10px;
  left: 0;
  text-align: center;
}

@-webkit-keyframes rotation {
  from {-webkit-transform: rotate(0deg);}
  to   {-webkit-transform: rotate(359deg);}
}

.fullscreen-content {
  position: absolute;
  top: 0;
}

.platform-ios.platform-cordova:not(.fullscreen) .fullscreen-content.has-header {
  top: 0;
}

.bottom-left {
  position: absolute;
  bottom: 0;
  right: 0;
}

.menu.menu-left {
  background-color: $sidebar-bg;

  .bar.bar-stable {
    background-color: $sidebar-header-bg;
    background-image: none;

    .title {
      color: $sidebar-color;
    }
  }

  .item-content, .item {
    background-color: $sidebar-bg;
    border-color: $sidebar-border;
    color: $sidebar-color;

    &:active {
      background-color: $sidebar-bg-active;
    }
  }
}

.sidebar-footer {
  height: 52px;
  padding: 0;

  ion-list {
    width: 100%;
  }
}

.fullscreen-modal {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  .slider {
    width: 100%;
    height: 100%;
  }
}

.modal-bottom-content {
  position: absolute;
  bottom: 80px;
  width: 100%;
  text-align: center;

  a {
    text-decoration: none;
    color: inherit;
  }
}

.text-small {
  color: $sidebar-border;
}

@font-face {
  font-family: "myfont";
  src: url("font/icons.woff") format('woff');
}

.icon-icon, .icon-iconC {
  display: inline-block;
  font-family: myfont;
  vertical-align: bottom;
}

.icon-icon:before {
  content: "\e600";
}

.icon-iconC:before {
  content: "\e601";
}