$sidebar-bg: #4e4e4e;
$sidebar-bg-active: #737373;
$sidebar-header-bg: #424242;
$sidebar-border: #616161;
$sidebar-color: #c0c0c0;

.center-content {
  height: 100%;
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-align-items: center;
}

.counter-label {
  width: 50vh;
  height: 50vh;
  line-height: 50vh;
  text-align: center;
  font-size: 100px;
}

.bottom-left {
  position: absolute;
  bottom: 0;
  right: 0;
}

.circle-border {
  border: 6px solid black;
  border-radius: 100%;
}

.menu.menu-left {
  .bar.bar-stable {
    background-color: $sidebar-header-bg;
    background-image: none;

    .title {
      color: $sidebar-color;
    }
  }

  .item-content, .item {
    background-color: $sidebar-bg;
    border-color: $sidebar-border;
    color: $sidebar-color;

    &:active {
      background-color: $sidebar-bg-active;
    }
  }
}


