.center-content {
  height: 100%;
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-align-items: center;
}

.counter-label {
  width: 50vh;
  height: 50vh;
  line-height: 50vh;
  text-align: center;
  font-size: 100px;
}

.bottom-left {
  position: absolute;
  bottom: 0;
  right: 0;
}

.circle-border {
  border: 6px solid black;
  border-radius: 100%;
}