<ion-view view-title="About">
    <ion-content>
        <div class="text-center">
            <h1><i class="icon-iconC"></i>licksta</h1>
            <p class="text-small">Made with <i class="ion-heart"></i></p>
            <small class="text-small">by André Eife</small>
        </div>
        <ion-list>
            <div class="card">
                <ion-item class="item-divider">
                    Support
                    <div class="item-note">Questions or feature requests?</div>
                </ion-item>
                <ion-item ng-click="AboutCtrl.openIntroduction()">
                    Introduction
                </ion-item>
                <ion-item onclick="window.open('http://www.clicker.com/', '_system', 'location=yes');">
                    <!-- TODO: adjust website -->
                    Website
                    <div class="item-note">http://www.clicksta.com</div>
                </ion-item>
                <ion-item ng-click="AboutCtrl.supportEmail()">
                    <!-- TODO: adjust email -->
                    E-Mail
                    <div class="item-note">support@clicksta.com</div>
                </ion-item>
            </div>
            <div class="card">
                <ion-item class="item-divider">
                    Author
                    <div class="item-note">André Eife</div>
                </ion-item>
                <ion-item onclick="window.open('http://twitter.com/a_eife', '_system', 'location=yes');">
                    Twitter
                    <div class="item-note">@a_eife</div>
                </ion-item>
                <ion-item onclick="window.open('http://www.andre-eife.com/', '_system', 'location=yes');">
                    Website
                    <div class="item-note">http://www.andre-eife.com/</div>
                </ion-item>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
