$item-bg: grey;
$item-bg-active: lighten($item-bg, 5);
$item-divider-bg: darken($item-bg, 5);
$item-border: lighten($item-bg, 5);
$item-text-color: lighten($item-bg, 30);
$item-subtext-color: lighten($item-bg, 20);
$item-note-text-color: $item-subtext-color;
$header-bg: $item-bg;
$header-text-color: lighten($item-bg, 40);
$toggle-color: darken($item-bg, 20);
$toggle-color2: lighten($item-bg, 20);
$toggle-handle-color: lighten($item-bg, 35);
$toggle-handle-color2: $toggle-handle-color;
$counter-color: darken($item-bg, 17);

.dark {
  @include theme();
}
