$item-bg: grey;
$item-bg-active: #939393;
$item-divider-bg: #575757;
$item-border: #949494;
$item-text-color: #cbcbcb;
$item-subtext-color: #b3b3b3;
$item-note-text-color: #d9d9d9;
$header-bg: grey;
$header-text-color: white;
$toggle-color: #4b4b4b;
$toggle-color2: #a5a5a5;
$toggle-handle-color: #959595;
$toggle-handle-color2: #959595;
$counter-color: #464646;

.dark {
  @include theme();
}
