<ion-modal-view class="fullscreen-modal">
    <ion-content scroll="false">
        <ion-slide-box>
            <ion-slide class="text-center">
                <h2 bind-html-compile="'INTRODUCTION.PAGE1.HEADING' | translate"></h2>
                <p bind-html-compile="'INTRODUCTION.PAGE1.TEXT1' | translate "></p>
            </ion-slide>
            <ion-slide class="text-center">
                <h2>{{ 'INTRODUCTION.PAGE2.HEADING' | translate }}</h2>
                <p>{{ 'INTRODUCTION.PAGE2.TEXT1' | translate }}</p>
                <p>{{ 'INTRODUCTION.PAGE2.TEXT2' | translate }}</p>
                <p>{{ 'INTRODUCTION.PAGE2.TEXT3' | translate }}</p>
            </ion-slide>
            <ion-slide class="text-center">
                <h2>{{ 'INTRODUCTION.PAGE3.HEADING' | translate }}</h2>
                <p>{{ 'INTRODUCTION.PAGE3.TEXT1' | translate }}</p>
                <p>{{ 'INTRODUCTION.PAGE3.TEXT2' | translate }}</p>
                <p>{{ 'INTRODUCTION.PAGE3.TEXT3' | translate }}</p>
            </ion-slide>
            <ion-slide class="text-center">
                <h2>{{ 'INTRODUCTION.PAGE4.HEADING' | translate }}</h2>
                <p>{{ 'INTRODUCTION.PAGE4.TEXT1' | translate }}</p>
                <p>{{ 'INTRODUCTION.PAGE4.TEXT2' | translate }}</p>
                <p>{{ 'INTRODUCTION.PAGE4.TEXT3' | translate }}</p>
            </ion-slide>
            <ion-slide class="text-center">
                <h2>{{ 'INTRODUCTION.PAGE5.HEADING' | translate }}</h2>
                <p bind-html-compile="'INTRODUCTION.PAGE5.TEXT1' | translate"></p>
                <p>{{ 'INTRODUCTION.PAGE5.TEXT2' | translate }}</p>
                <button class="button" ng-click="modal.remove()" bind-html-compile="'INTRODUCTION.START' | translate"></button>
            </ion-slide>
        </ion-slide-box>
        <div class="modal-bottom-content">
            <a href ng-click="modal.remove()">{{ 'INTRODUCTION.SKIP' | translate }}</a>
        </div>

    </ion-content>
</ion-modal-view>