<ion-view view-title="{{ 'SETTINGS.TITLE' | translate }}">
    <ion-content>
        <ion-list>
            <ion-item href="#/app/settings/languages" class="item-icon-right">
                {{ "LANGUAGE.TITLE" | translate }}
                <i class="icon ion-chevron-right icon-accessory"></i>
                <div class="item-note">{{"LANGUAGE." + SettingsCtrl.settingsData.activeLanguage.toUpperCase() | translate}}</div>
            </ion-item>
            <ion-item href="#/app/settings/themes" class="item-icon-right">
                {{ "THEME.TITLE" | translate }}
                <i class="icon ion-chevron-right icon-accessory"></i>
                <div class="item-note">{{SettingsCtrl.settingsData.activeTheme.name}}</div>
            </ion-item>
            <ion-item href="#/app/settings/gestures" class="item-icon-right">
                {{ "GESTURES.TITLE" | translate }}
                <p>{{ "GESTURES.DESCRIPTION" | translate }}</p>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
            <ion-toggle ng-checked="SettingsCtrl.settingsData.sound"
                        ng-click="SettingsCtrl.settingsData.change.sound(!SettingsCtrl.settingsData.sound)"
                        toggle-class="toggle-calm">{{ "SOUND.TITLE" | translate }}</ion-toggle>
            <ion-toggle ng-checked="SettingsCtrl.settingsData.animation"
                        ng-click="SettingsCtrl.settingsData.change.animation(!SettingsCtrl.settingsData.animation)"
                        toggle-class="toggle-calm">{{ "ANIMATION.TITLE" | translate }}</ion-toggle>
            <ion-toggle ng-checked="SettingsCtrl.settingsData.keepAwake"
                        ng-click="SettingsCtrl.settingsData.change.keepAwake(!SettingsCtrl.settingsData.keepAwake)"
                        toggle-class="toggle-calm">{{ "DISPLAY_AWAKE.TITLE" | translate }}</ion-toggle>
            <ion-item class="item-divider">{{ "RESET.TITLE" | translate }}</ion-item>
            <ion-item ng-click="SettingsCtrl.resetClickData()">
                {{ "CLICK_DATA.TITLE" | translate }}
            </ion-item>
            <ion-item ng-click="SettingsCtrl.resetSettings()">
                {{ "SETTINGS.TITLE" | translate }}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
