<ion-view view-title="Settings">
    <ion-content>
        <ion-list>
            <ion-item href="#/app/settings/themes" class="item-icon-right">
                Theme
                <i class="icon ion-chevron-right icon-accessory"></i>
                <div class="item-note">{{SettingsCtrl.settingsData.activeTheme.name}}</div>
            </ion-item>
            <ion-item href="#/app/settings/gestures" class="item-icon-right">
                Gestures
                <p>Define functions for gestures.</p>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
            <ion-toggle ng-checked="SettingsCtrl.settingsData.sound"
                        ng-click="SettingsCtrl.settingsData.change.sound(!SettingsCtrl.settingsData.sound)"
                        toggle-class="toggle-calm">Sound</ion-toggle>
            <ion-item class="item-divider">Reset</ion-item>
            <ion-item ng-click="SettingsCtrl.resetClickData()">
                Click Data
            </ion-item>
            <ion-item ng-click="SettingsCtrl.resetSettings()">
                Settings
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
