<ion-view view-title="Statistics">
    <ion-content>
        <div class="card">
            <ion-item class="item-divider">
                Click count
            </ion-item>
            <canvas ng-if="StatisticsCtrl.charts.sum.data[0].length > 0" id="line" class="chart chart-line" data="StatisticsCtrl.charts.sum.data" labels="StatisticsCtrl.charts.sum.labels"
                    legend="true" series="StatisticsCtrl.charts.sum.series" click="onClick"></canvas>

            <ion-item ng-if="!StatisticsCtrl.charts.sum.data[0] || StatisticsCtrl.charts.sum.data[0].length <= 0">
                not enough click data yet
            </ion-item>
        </div>
        <div class="card">
            <ion-item class="item-divider">
                Click rate
            </ion-item>
            <canvas ng-if="StatisticsCtrl.charts.rate.data[0].length > 0" id="line" class="chart chart-line" data="StatisticsCtrl.charts.rate.data" labels="StatisticsCtrl.charts.sum.labels"
                    legend="true" series="StatisticsCtrl.charts.rate.series" click="onClick"></canvas>
            <ion-item ng-if="!StatisticsCtrl.charts.rate.data[0] || StatisticsCtrl.charts.rate.data[0].length <= 0">
                not enough click data yet
            </ion-item>
        </div>
        <ion-list>
            <div class="card">
                <ion-item class="item-divider">
                    Numbers
                </ion-item>
                <ion-item>
                    clicks per second
                    <div class="item-note">{{StatisticsCtrl.statistics.perSecond | number: 2}}</div>
                </ion-item>
                <ion-item>
                    clicks per minute
                    <div class="item-note">{{StatisticsCtrl.statistics.perMinute | number: 2}}</div>
                </ion-item>
                <ion-item>
                    clicks per hour
                    <div class="item-note">{{StatisticsCtrl.statistics.perHour | number: 2}}</div>
                </ion-item>
                <ion-item class="item-divider">
                    More Information
                </ion-item>
                <ion-item>
                    Duration
                    <div class="item-note">
                        {{(StatisticsCtrl.clicks.last.time - StatisticsCtrl.clicks.first.time)  / 1000 / 60 | number: 1}} min
                    </div>
                </ion-item>
                <ion-item>
                    First Click
                    <div class="item-note">{{StatisticsCtrl.clicks.first.time | date:'medium'}}</div>
                </ion-item>
                <ion-item>
                    Last Click
                    <div class="item-note">{{StatisticsCtrl.clicks.last.time | date:'medium'}}</div>
                </ion-item>
                <ion-item>
                    Click Count
                    <div class="item-note">{{StatisticsCtrl.clicks.count}}</div>
                </ion-item>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
