<ion-view view-title="Charts">
    <ion-content>
        <div class="card">
            <ion-item class="item-divider">
                Click count
            </ion-item>
            <canvas ng-if="ChartsCtrl.charts.sum.data[0].length > 0" id="line" class="chart chart-line" data="ChartsCtrl.charts.sum.data" labels="ChartsCtrl.charts.sum.labels"
                    legend="true" series="ChartsCtrl.charts.sum.series" click="onClick"></canvas>
        </div>
        <div class="card">
            <ion-item class="item-divider">
                Click rate
            </ion-item>
            <canvas ng-if="ChartsCtrl.charts.rate.data[0].length > 0" id="line" class="chart chart-line" data="ChartsCtrl.charts.rate.data" labels="ChartsCtrl.charts.sum.labels"
                    legend="true" series="ChartsCtrl.charts.rate.series" click="onClick"></canvas>
        </div>
        <ion-list>
            <div class="card">
                <ion-item class="item-divider">
                    Numbers
                </ion-item>
                <ion-item>
                    clicks per second
                    <div class="item-note">{{ChartsCtrl.statistics.perSecond | number: 2}}</div>
                </ion-item>
                <ion-item>
                    clicks per minute
                    <div class="item-note">{{ChartsCtrl.statistics.perMinute | number: 2}}</div>
                </ion-item>
                <ion-item>
                    clicks per hour
                    <div class="item-note">{{ChartsCtrl.statistics.perHour | number: 2}}</div>
                </ion-item>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
